.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_background {
    background-image: url("../../public/Rectangle_header.svg");
    background-repeat: no-repeat;
    height: 1031px;
}

.header_span_container {
    width: 180px;
}

.left_header_container {
    display: flex;
    margin-top: 60px;
    margin-left: 120px;
    align-items: center;
    gap: 20px;
}

.right_header_container {
    margin-top: 60px;
    margin-right: 120px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.email {
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat Alternates, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    text-decoration-line: none;

}

.btn {
    display: flex;
    justify-content: center;
}

.header_span {
    font-family: "Montserrat Alternates", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: rgba(255, 255, 255, 1)
}

.section_one {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-family: Poppins, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    color: rgba(255, 255, 255, 1);
}

.span_container {
    display: flex;
}

.span {
    background: rgba(30, 77, 194, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 6px 37px;
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
}

.section_one_span {
    width: 900px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}



.section_two {
    margin-top: 225px;
    display: flex;
    justify-content: center;
    gap: 100px;

}

.section_two_container {
    width: 860px;
}

.h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
}

.text {
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-bottom: 48px;
}

.monitorIcon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.monitorIcon {
    /*width: 1450px;*/
}

.megapolis_icon {
    /*width: 320px;*/
}

.section_three {
    margin-top: 225px;
}

.h3 {
    display: inline-block;
    margin-left: 285px;
    width: 1010px;
    font-size: 56px;
    font-weight: 700;
    line-height: 76.8px;
}

.section_three_widgets {
    margin-top: 100px;
    display: flex;
    gap: 35px;
    justify-content: center;
}

.section_four {
    margin-top: 226px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.puzzle_container {
    height: 270px;
    /*width: 440px;*/
    overflow: hidden;
    position: relative;
}

.section_four_widgets {
    background: rgba(240, 245, 255, 1);
    width: 1520px;
    height: 477px;
    margin: 0 auto;
    border-radius: 95px;
    padding-top: 70px;
    padding-left: 85px;
    display: flex;
    gap: 132px;
}

.section_form_background {
    background-image: url("../../public/backgroundForm.svg");
    height: 1392px;
    margin-top: 226px;
}

.section_form {
    width: 1466px;
    height: 911px;
    margin: 0 auto;
}

.section_form_container {
    padding-top: 226px;
    display: flex;
    flex-direction: column;
}

.form_title {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 60px;
}

.form_p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 986px;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
}

.section_sun {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sunImage {
    width: 315px;
    height: 360px;
    margin: -121px auto 51px auto;
}

.sun_text_container {
    margin: 0 auto;
}

.sun_text {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    color: rgba(255, 221, 0, 1);
}

.sun_span {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin-top: 51px;
}

.section_clients {
    width: 1410px;
    margin: 226px auto 0 auto;
}

.section_clients_container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.section_clients_title {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    margin-left: 30px;
}

.section_clients_click {
    width: 450px;
    height: 250px;
    background: #F0F5FF;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_clients_click_span {
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(30, 77, 194, 1);
}

.section_reviews {
    margin-top: 226px;
}

.section_reviews_title_container {
    margin-left: 285px;
}

.section_reviews_title {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.section_reviews_p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.section_reviews_widget_container {
    margin-top: 93px;
    display: flex;
    gap: 100px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.section_reviews_widget_container::-webkit-scrollbar {
    width: 0;
}

.section_faq {
    margin-top: 226px;
}

.section_faq_container {
    display: flex;
    margin-top: 100px;
    gap: 145px;
}

.section_faq_title {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    margin-left: 285px;
    width: 732px;
}

.section_faq_questions {
    width: 930px;
    margin-left: 255px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq_speaker_img {
    display: flex;
    align-items: center;
}

.footer {
    background-image: url("../../public/footerBackground.svg");
    margin-top: 212px;
    height: 378px;
}

.footer_container {
    padding: 181px 285px 81px 285px;
    display: flex;
    gap: 263px;
}

.left_footer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer_span {
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat Alternates, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    opacity: 0.7;
    margin-top: 20px;
}

.footer_center {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
