.form_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

.form {
    width: 986px;
}

.form_input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    margin-bottom: 30px;
}

.form_input:focus {
    outline: none;
}

.form_input::placeholder {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.form_p {
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
}

.btn {
    display: flex;
    justify-content: center;
}
