.section_four {
    margin-top: 226px;
    display: flex;
    justify-content: center;
    /*gap: 1vw;*/
}

.puzzle_container {
    height: 270px;
    /*width: 456px;*/
    /*width: 23vw;*/
    overflow: hidden;
    position: relative;
}

.puzzleIcon {
    /*width: 23vw;*/
    /*height: 270px;*/
}

.widget_container {
    display: flex;
    justify-content: center;
}

.section_four_widgets {
    background: rgba(240, 245, 255, 1);
    /*width: 79vw;*/
    /*width: 87vw;*/
    height: 477px;
    border-radius: 95px;
    padding-top: 70px;
    padding-left: 85px;
    padding-right: 85px;
    display: flex;
    gap: 132px;
}

.h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
}

.text {
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-bottom: 48px;
}

.section_two_container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 431px) {
    .section_four {
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    .widget_container {
    }
    .puzzle_container {
        display: none;
    }
    .section_two_container {
        padding-left: 20px;
    }

    .section_four_widgets {
        background: rgba(240, 245, 255, 1);
        width: 350px;
        height: 100%;
        border-radius: 30px;
        /*padding-top: 50px;*/
        /*padding-left: 0px;*/
        padding-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        padding-top: 70px;
        padding-left: 85px;
        padding-right: 85px;
    }
    .h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
    }
    .text {
        display: inline-block;
        margin-top: 30px;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        margin-bottom: 48px;
    }
}
