.section_form_background {
    background-image: url("../../../public/backgroundForm.svg");
    height: 1392px;
    margin-top: 226px;
}

.section_form {

}

.section_form_container {
    padding-top: 226px;
    display: flex;
    flex-direction: column;
}

.form_title {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 60px;
    /*width: 1000px;*/
    padding: 0 227px;
}

.form_p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.section_sun {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sunImage {
    width: 315px;
    height: 360px;
    margin: -121px 0 51px 0;
}

.sun_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_down {
    width: 23px;
    margin-top: -400px;
    margin-left: 20px;
    /*padding-left: 40px;*/
}

.sun_text_container {
    margin: 0 auto;
}

.sun_text {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    /*color: rgba(255, 221, 0, 1);*/
}

.sun_span {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin-top: 51px;
}

.btn {
    display: flex;
    justify-content: center;
}

@media (max-width: 431px) {
    .section_form_background {
        background-image: url("../../../public/FormMini.png");
        background-repeat: no-repeat;
        height: 834px;
        margin-top: 100px;
    }

    .section_form_container {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
    }
    .form_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 33.6px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 30px;
        margin-left: 20px;
        width: 330px;
        padding: 0;
    }
    .form_p {
        font-size: 12px;
        font-weight: 500;
        line-height: 16.8px;
        text-align: left;
        width: 305px;
        color: rgba(255, 255, 255, 1);
        margin-left: 20px;
    }
    .section_sun {
        display: none;
    }
    .btn {
        display: flex;
        justify-content: flex-start;
    }
}
