.section_two {
    margin-top: 225px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.section_two_container {
    width: 44vw;
}

.h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
}

.text {
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-bottom: 48px;
}

.monitorIcon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.monitorIcon {
    width: 88.5vw;
}

.megapolis_icon {
}

@media (max-width: 431px) {
    .section_two {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        gap: 100px;
    }
    .megapolis_icon {
        display: none;
    }
    .section_two_container {
        width: 325px;
    }
    .monitorIcon {
        width: 371px;
    }
    .h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
    }
    .text {
        display: inline-block;
        margin-top: 30px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        margin-bottom: 48px;
        width: 300px;
    }
}
